@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/*font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/

  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
  /*font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/

:root{
    --red: #9E022E;
    --darkgrey: #1B1B1B;
    --grey: #212121;
    --lightgrey: #3F3F3F;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}

html, body {
  height: 100%;
}

body{
    
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    
}

.main-container{
  display: flex;
  gap: 15px;
}

.container{
  display: flex;
  flex-direction: column;
}

/* .container-2{
  display: flex;
  flex-direction: column;
} */

.empty{
  height: 75vh;
  padding: 0rem 20rem 0rem 20rem;
  background-color: var(--darkgrey);
  border-radius: 30px;
  margin-bottom: 15px;
}

h2{
  font-family: "Lexend", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.date{
  font-family: "JetBrains Mono", monospace;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.row-1{
  display: flex;
  gap: 15px;
}

.welcome, .date, .time{
  background-color: var(--darkgrey);
  padding: 5rem;
  border-radius: 30px;
  display: flex;
  
}


svg{
  transform: scale(2);
  color: var(--red);
  padding-right: 2rem;
}

span{
  color: var(--red);
  font-family: "Lexend", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  
}